body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background: #F0F0F0;
}

h1 {
	margin-top: 50px;
}

div#container {
	width: 320px;
	height: 520px;
	margin: auto;
	background: white;
	border: solid black 2px;
	border-radius: 10px;
	padding: 10px;
}

div#view-panel {
	width: 100%;
	height: 90%;
	overflow: scroll;
}

input#text-box {
	width: 70%;
	height: 5%;
	font-size: 0.9em;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 5%;
}

div.bubble {
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	max-width: 70%;
	border-radius: 10px;
	background: #00AAFF;
	color: white;
	text-align: left;
}

div.bubble.left {
	float: left;
	background: #F0F0F0;
	color: black;
}

div.line-container {
	overflow: auto;
	width: 100%;
	margin-bottom: 5px;
}

p {
	font-size: 0.8em;
}